*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html, body{
    height: 100%;
}

.conteiner{
    display: flex;
}
.box{
    width: 33.3%;
    height: 300px;
    float: left;
    background-color: cornflowerblue;
    border: solid 2px  blue;
}

/* tela da midia e largura máxima */
@media screen and (max-width: 500px) {
    .conteiner{
        flex-direction: column;
    }


    .box{
        width: 50%;
        margin: 0 auto;
    }
}